/*
AUTHOR: Peter Himmelreich
		averygoodplanet@gmail.com
		averygoodplanet.com
*/

body {
	background-image: url(images/bright_squares.png);
}

#center_wrapper {
	width: 980px;
	margin: auto;
}

#center_wrapper  > * {
	text-align: center;
	margin: 0 auto 0 auto;
}

#title {
	margin-top: 80px;
	font-size: 70px;
	text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
	font-family: serif;
}

#start {
	margin-top: 40px;
	margin-bottom: 15px;
}

button {
	display: block;
	height: 60px;
	width: 120px;
	font-size: 25px;
	color: white;
	background-color: #00FF00;
	border-radius: 100px !important;
}

#instructions {
	margin-top: 60px;
	width: 300px;
	margin-bottom: 20px;
	font-weight: 500;
	font-family: 'Monaco', monospace;
	font-size: 18px;
	text-align: justify;
}

#user_message {
	margin-top: 20px;
	color: #3399FF;
	font-size: 50px;
	text-align: center;
	font-size: 40px;
}

#submit_guess {
	height: 60px;
	width: 120px;
	font-size: 25px;
	color: white;
	background-color: #00FF00;
	border-radius: 100px !important;
}

form {
	font-size: 30px;
	font-family: 'Verdana', sans-serif;
	margin-top: 20px;
}

#number_input {
	height: 40px;
	width: 80px;
	font-size: 30px;
}

#entry_box {
	margin-top: 86px;
	height: 100px;
	background: white;
	width: 600px;
	border-radius: 8px;
	border: 1px solid gray;
	box-shadow: -42px -19px 5px 2px rgba(0,0,0,0.14);
}